<div class="postdone11">
  <div class="transp">
    <div class="postdone16">
      <p>
        藤田菜々子「更新が完了しました！」
      </p>
      <a href="/banushi" class="postdone3" >投稿一覧へ戻る</a>
    </div>
  </div>
</div>